# [http://editorconfig.org]
# [https://github.com/sindresorhus/editorconfig-sublime#readme]

root = true

# all files
[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# [https://stackoverflow.com/a/33831598]
# set default displayed tab size for your repository
[*.{js,jsx,html,sass}]
indent_size = 4

# override and allow for MarkDown files
[*.md]
trim_trailing_whitespace = false
